html {
    min-height: 100%;
    height:auto !important; 
    height: 100%;
    overflow:auto; 
}

body {
    min-height: 100%;
    height:auto !important; 
    height: 100%; 
}

main {
    min-height: 100%;
    height:auto !important; 
    height: 100%; 
}