html {
    background-color: $body-bg;
    min-height: 100%;
    height:auto !important; 
    height: 100%;
    overflow:auto; 
}

body {
    margin-top: 48px;
    min-height: 100%;
    height:auto !important; 
    height: 100%; 
}

main {
    min-height: 100%;
    height:auto !important; 
    height: 100%; 
}